@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

.fancy-button {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    letter-spacing: 3px;
    padding: 0.75rem 0.55rem;
    margin: 0.5rem 0;
    background: rgb(230, 230, 230);
    border: 0;
    border-top: solid rgb(230, 230, 230) 1px;
    border-bottom: solid rgb(230, 230, 230) 1px;
    opacity: 0.65;
    transition: all 0.4s;
}

.fancy-button:hover {
    background-color: transparent;
    opacity: 1;
    font-weight: initial;
    border-color: black;
    letter-spacing: 2px;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
}